@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> _signinManager
@inject UserManager<ApplicationUser> _userManager

<ul class="navbar-nav">
	@if (_signinManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link" href="#">Hello, @_userManager.GetUserName(User)</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
		</li>
	}

</ul>